

/* ESTILOS GENERALES */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e2e2fc;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* CONTENEDOR (con padding y borde) */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* TÍTULOS CENTRADOS */
h1 {
    text-shadow: center;
    font-size: 48px;
    color: #6666cc;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h2 {
    text-align:center;
    margin-top: 20px;
}

/* FORMULARIO Y COMPONENTES ATÓMICOS */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: normal;
    text-align: left;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

/* ESTILO BOTONES METRICAS */
button {
    background-color: #6666CC;
    color: white;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    top: -80px;

}

button:hover {
    background-color: #330099;
}


/* ESTILO IMAGEN HOME CALCULADORA */
.calculator-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-left: 300px;
}

/* Tamaño imagen*/
.calculator-img {
    width: 400px;
    height: auto;
    display: block;
   
}

.calculator-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-right: 300px;
    margin-top: 80px;
}

/* BOCADILLO TEXTO HOME */
.speech-bubble {
    position: relative;
    border: 2px solid #2f3e6b;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    max-width: 300px;
    margin-top: -200px;
    font-size: 22px;
}
.speech-bubble::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 22px solid #2f3e6b;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 20px solid white;
}


/* ÁREA DE RESULTADOS MÉTRICAS */
.result-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #eee;
}


.result-box p {
    text-align: left;
    margin-left: 400px;
}

.error {
    color: #dc3545;
    font-weight: bold;
}

/* ESTILOS ADICIONALES PARA MEJORAR LA INTERFAZ */
.result {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.result h3 {
    margin-bottom: 10px;
    color: #495057;
}

.result p {
    margin: 5px 0;
}



/* ESTILO PARA LAS PÁGINAS DE LAS MÉTRICAS */
.metric-page {
    text-align: center;
    
}

.metric-page p {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    margin-left: 525px;
}

.metric-page label {
    text-align: left;
}


.sex-group {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 6px;
    margin-right: 70px;
}

.sex-title {
    text-align: center;
    margin-bottom: -25px;
    margin-right: 190px;
    font-weight: normal;
}

.sex-option1 {
    display: flex;          
    align-items: center;
    gap: 6px;
    margin-left: -15px;
    font-weight: normal;

}

.sex-option2 {
    display: flex;          
    align-items: center;
    gap: 6px;
    font-weight: normal;
}

.form-row-hip label{
    align-items: center;
    font-weight: normal;
}

.form-row-hip input {
    margin-left: 15px;
}

.form-row-waist {
    align-items: center;
    font-weight: normal;
}

.form-row-weight {
    align-items: center;
    margin-left: 5px;
    font-weight: normal;
}

.form-row-height {
    align-items: center;
    margin-left: 8px;
    font-weight: normal;
}

/* Tamaño imagen calculate*/
.calculator-img2 {
    width: 80px;
    height: auto;
    display: block;
    margin-top: 50px;
}

/* ESTILO BOTÓN HOME */
.button-home {
    width: 80px;
    height: 80px;

    background-color: #6666CC;
    border: none;
    border-radius: 6px;

    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 200px;
}


.button-home img {
    width: 70px;
    height: 70px;
}

.exit {
    position: absolute;
    top: 20px;
    right: 20px;
}
