<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHR</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class = "metric-page">

    <h1>WHR</h1>
    <p>Introduce your values:</p>
    
    <form action="{{ url_for('whr') }}" method="POST">
        <div class="form-row-waist"> 
             <label for="waist">Waist (m)</label>
             <input type="number" id="waist" name="waist" step="0.01" required>
        </div>
        <div class="form-row-hip"> 
             <label for="hip">Hip (m)</label>
             <input type="number" id="hip" name="hip" step="0.01" required>
        </div>
        <div class="form-row sex-group">
            <label class="sex-title">Sex:</label>
            <label class="sex-option1">
                <input type="radio" name="gender" value="M" required>
                Male
            </label>
       
            <label class="sex-option2">
                <input type="radio" name="gender" value="F" required>
                Female
            </label>
        </div>

        {% if resultado != None%}
        <div class="result-box">
            {%if resultado is string and "Error" in resultado %}
                <p class="error-message">{{ resultado }}</p>
            {% else %}

                <h2>Results</h2>

                <p> Your WHR is: {{ resultado }}</p>
                {% if classification != None %}
                <p> Your WHR Classification is: {{ classification }}</p>
                {% endif %}
        
            {% endif %}
        </div>

        {% endif %}
        <div class="calculator-section">
            <img src="{{ url_for('static', filename='img/CalculadoraMetricas.png') }}"
                alt="Health calculator character"
                class="calculator-img2">
            <button type="submit">Calculate</button> 
        </div>      

    </form> 
    
    <div class="exit">  
            <form action="{{ url_for('home') }}" method="GET">
                <button class="button-home" title="Click here to go back to the Home page.">
                    <img src="{{ url_for('static', filename='img/HomeIcon.png') }}" alt="Inicio">
                </button>
            </form>    
    </div>

</body>
</html>